{{> header}}

<body>
  <h1>{{pageTitle}}</h1>
  <p style="max-width: 900px">Nisi expetendis non nisi duis ut do fabulas concursionibus. Id ipsum fugiat est fabulas et ab tamen si irure ex et fore occaecat arbitrantur de consequat tamen sed appellat cohaerescant do fore singulis ea vidisse, pariatur quis magna iudicem noster,
    voluptate aute occaecat excepteur, multos officia relinqueret. Hic appellat ubi cernantur a nescius nisi enim ut irure o duis quo mentitum est aute, sint qui incididunt de nulla probant despicationes, ne de tractavissent, incididunt o veniam laboris,
    ex nisi aliqua veniam officia. Commodo non illum offendit nam fore nostrud te eruditionem, appellat ad excepteur, fabulas o proident, esse laboris nam domesticarum in sed nulla malis non litteris, de eu praetermissum et expetendis do dolor.Expetendis
    quorum summis ut sint, in quorum te dolor. Et legam quae a ullamco hic arbitror fugiat nescius constias, in appellat relinqueret id id nulla distinguantur. Amet transferrem iudicem export proident. Tempor mandaremus te mandaremus do officia fidelissimae
    non voluptate.</p>
  {{> footer}}
