    {{> header}}
    <h1>{{maiuscolo welcomeMessage}} HOMEPAGE</h1>
    <p style="max-width: 900px">E veniam possumus non pariatur esse incididunt. Ea velit summis quem aliquip,
      constias ad elit ex iudicem culpa noster a quid sed o ne legam iudicem. Proident
      amet cupidatat.Iudicem o tamen appellat. Multos officia eiusmod sed qui sed
      magna enim eram, iis labore ut labore ne est ea consectetur. Eu noster
      eruditionem, appellat id consequat, e nam culpa fugiat fore ubi aute ingeniis
      transferrem. Cernantur enim legam mentitum aute, in nam amet cupidatat.</p>
    {{> footer}}
  </body>
</html>
