{{> header}}
<h1>SITO in MANUTENZIONE</h1>
<p style="max-width: 900px, font-family: operator mono">
  <img src="http://fakeimg.pl/350x200/bdd9d2/3f232a/?text=Fake-Image">
</p>
{{> footer}}
</body>

</html>
